<a href="/" class="flex flex-col justify-center items-center gap-4">
  <img
    src="/logo.webp"
    alt=" Pico y Placa en Colombia - Consulta Restricciones en tu Ciudad | COLPYP"
    width="60"
    fetchpriority="high"
  />
  <div class="flex flex-col gap-4 items-center">
    <h1 class="text-5xl font-bold">COLPYP</h1>
    <p class="text-xl text-gray-500 text-center">
      <i>Viaja al pasado para evitar el pico y placa de hoy</i>
    </p>
  </div>
</a>
