---
import CityNames from '../components/CityNames.astro';
import Layout from '../layouts/Layout.astro';

export const prerender = false;
---

<Layout>
  <div class="min-h-90">
    <CityNames>
      <div slot="fallback" class="text-center">
        <p>Cargando...</p>
      </div>
    </CityNames>
  </div>
</Layout>
