---
import { CityService } from '../core/city.service';

const names = await CityService.getCityNames();
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-2 text-center max-w-md mx-auto">
  {
    names.map((name) => {
      const normalizeName = name
        .normalize('NFD')
        .replace(/[\u0300-\u036f]/g, '');
      const encodeName = encodeURIComponent(normalizeName);
      return (
        <a
          href={`/${encodeName}`}
          class="text-lg capitalize hover:underline hover:text-blue-500"
        >
          {name}
        </a>
      );
    })
  }
</div>
