---
import Divider from '../components/shared/Divider.astro';
import Footer from '../components/shared/Footer.astro';
import Header from '../components/shared/Header.astro';
import '../styles/tailwind.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>
      Pico y Placa en Colombia - Consulta Restricciones en tu Ciudad | COLPYP
    </title>
    <meta
      name="description"
      content="Consulta fácilmente las restricciones de Pico y Placa en Colombia. Ingresa tu ciudad y obtén información actualizada sobre días y horarios de restricción vehicular."
    />
    <meta
      name="keywords"
      content="pico y placa, restricciones vehicular, Colombia, movilidad, tránsito, restricción pico y placa, consulta pico y placa, pico y placa Bogotá, pico y placa Medellín, pico y placa Cali, pico y placa Bucaramanga"
    />
    <meta name="author" content="COLPYP" />

    <!-- google analytics -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RDY45LS9ZZ"></script>

    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-RDY45LS9ZZ');
    </script>
  </head>
  <body>
    <div class="max-w-2xl mx-auto px-2 md:px-0">
      <div class="mt-10">
        <Header />
      </div>
      <div class="my-10">
        <Divider />
      </div>
      <main>
        <slot />
      </main>
      <div class="my-10">
        <Divider />
      </div>
      <Footer />
    </div>
  </body>
</html>

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
</style>
