---
import Footer from '../components/shared/Footer.astro';
import Header from '../components/shared/Header.astro';
import './../styles/tailwind.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>
      Pico y Placa en Colombia - Consulta Restricciones en tu Ciudad | COLPYP
    </title>
    <meta
      name="description"
      content="Consulta fácilmente las restricciones de Pico y Placa en Colombia. Ingresa tu ciudad y obtén información actualizada sobre días y horarios de restricción vehicular."
    />
    <meta
      name="keywords"
      content="pico y placa, restricciones vehiculares, Colombia, movilidad, tránsito, restricción pico y placa, consulta pico y placa, pico y placa Bogotá, pico y placa Medellín, pico y placa Cali, pico y placa Bucaramanga"
    />
    <meta name="author" content="COLPYP" />
  </head>
  <body>
    <main>
      <Header />
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
  }
</style>
